<div class="main-div" style="margin: 0 auto; background-color: #0E4221; width: 400px; box-shadow: 10px 10px 10px #888;
    -webkit-box-shadow: 10px 10px 10px #888; -moz-box-shadow: 10px 10px 10px #888 ;border-radius:10px; padding: 10px 10px">
  <div>
  <h2 style="background-color: #0E4221; width: 100%; color: #FFF">prestamo</h2>
</div>
  <div style="background-color: #FFF; padding: 5px; border-radius: 10px">
    <p>Prueba prestamos PMLIS al usuario <%=nombre%></p>
    </div>
</div>