<div>
		<H1 align="center">PRESTAMOS MOVILIS</H1>
		<div align="center" class="w3-container">
			<label>FILTRAR POR: <input ng-model="searchText" ></label>
		</div>
		<div class="w3-container" align="center" ng-controller="prestamosController as prestamos">
			<ul class="list-group" style="width:80%" ng-controller="nuevoPrestamoController as nPrestamoCtrl">
			<nuevo-prestamo></nuevo-prestamo>
				<li class="list-group-item" ng-show="objetos.disponibilidad" ng-repeat="objetos in prestamos.objetos | filter:searchText ">
					<h1> {{objetos.id_objeto}} </h1>
					<img ng-src="../images/{{objetos.id_objeto}}.jpg"/>
					<p/>
					<section ng-init="tab = 1" ng-controller="PanelController as panel" >
						<ul class="nav nav-pills ul2">
							<li ng-class="{ active:panel.isSelected(1) }"> <a href ng-click="panel.selectTab(1)">Descripcion</a> </li>
							<li ng-class="{ active:panel.isSelected(2) }"> <a href ng-click="panel.selectTab(2)">Estado</a></li>
						</ul>
						<div class ="panel w3-container" ng-show="panel.isSelected(1)" >
							<h4>Descripcion</h4>
							<p>{{objetos.nombre_objeto}}</p>
						</div>
						<div class ="panel w3-container" ng-show="panel.isSelected(2)">
							<h4>Cantidad</h4>
							<p>{{objetos.estado}}</p>
						</div>
					</section>
					<div >
						<form class="w3-container" align="center" ng-controller="userController as userCtrl " ng-submit="nPrestamoCtrl.setPrestar($index)">
							<input align="center" type="submit" value="Realizar Prestamo" ng-show="userCtrl.permiso"></input>
						</form>
					</div>
				</li>
			</ul>
		</div>
<div>
